In [1]:
import pandas as pd
import os
os.chdir("/home/abhisek/Studies/data")

In [2]:
df=pd.read_csv("mobile_dataset.csv")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [12]:
X=df.drop(labels="price_range",axis=1)
y=df.iloc[:,[20]]

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.20,random_state=0)

In [21]:
from sklearn.feature_selection import VarianceThreshold
var=VarianceThreshold(threshold=0.8)
var.fit(X_train)

VarianceThreshold(threshold=0.8)

In [24]:
var.get_support()

array([ True, False, False, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False, False])

In [25]:
var.get_support().sum()

12

In [27]:
X_train.columns[var.get_support()]

Index(['battery_power', 'fc', 'int_memory', 'mobile_wt', 'n_cores', 'pc',
       'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time'],
      dtype='object')

In [30]:
const_columns=[column for column in X_train.columns
              if column not in X_train.columns[var.get_support()]]
print(len(const_columns))

8

In [32]:
X_train.drop(const_columns,axis=1)

,battery_power,fc,int_memory,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time
582,1232,1,24,169,5,17,361,809,1257,16,10,16
159,1840,12,34,142,1,16,311,1545,1078,8,0,10
1827,1692,4,2,106,1,17,1899,1904,3779,9,3,7
318,508,7,42,94,1,8,39,557,663,13,12,7
708,977,2,35,165,2,15,1502,1862,3714,19,3,10
...,...,...,...,...,...,...,...,...,...,...,...,...
835,1224,9,33,157,1,18,522,563,3796,10,5,13
1216,1158,1,29,123,2,20,311,1796,1542,17,9,15
1653,1190,0,40,93,5,1,1399,1646,3610,13,7,9
559,1191,2,13,169,1,7,179,1813,1028,14,6,8
684,706,13,31,108,3,19,543,938,2419,8,7,4